@import "mixins";
@import "props";

// container
:host {
  @include border(1px solid $gainsboro);
  @include padding(20px);
  @include flex(center, space-between);
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: darken($white, 5%);
  }

  &:active {
    background-color: darken($white, 10%);
  }
}

// left container
.sb-left {
  // {total} - {margin} - {icon-width}
  max-width: calc(100% - 20px - 24px);
}

// next station
.sb-next-station {
  @include flex(center);
  margin-top: 5px;

  app-icon {
    ::ng-deep {
      path {
        fill: $cobalt;
      }
    }

    @include rect(14px, 19px);
  }

  app-text {
    margin-left: 3px;
  }
}

// star icon
.sb-star {
  @include box(24px);
  margin-left: 20px;
  cursor: pointer;
  user-select: none;

  &.sb-checked {
    ::ng-deep {
      path {
        fill: $cobalt;
      }
    }
  }
}
