@import "mixins";
@import "props";

// container
:host {
  @include flex(center);
  cursor: pointer;
  user-select: none;

  &:hover {
    span {
      color: rgba($white, .8);
    }

    app-icon {
      ::ng-deep {
        path {
          fill: rgba($white, .8);
        }
      }
    }
  }
}

span, app-icon {
  transition: all .1s;
}

// label
span {
  color: $white;
}

// icon
app-icon {
  ::ng-deep {
    path {
      fill: $white;
    }
  }

  @include box(24px);
  margin-left: 3px;
}
