$black: #000;
$white: #fff;

$cornflower-blue: #408DE5;
$orange-red: #E43C00;
$cobalt: #0054A4;
$dark-grey: #A7A7A7;
$gainsboro: #E3E3E3;
$lemon: #FFE607;

$black-16: rgba($black, .16);
$black-32: rgba($black, .32);

$default-shadow: 0 3px 6px $black-16;
$more-shadow: 0 6px 12px $black-32;
