@import "mixins";
@import "props";

// header actions
.sb-header-actions {
  @include flex(center);

  app-icon-button + app-icon-button {
    margin-left: 20px;
  }
}

app-search {
  margin-top: 20px;
}

// content container
.sb-content {
  // {total-height} - {input-height} - {input-margin} - {header-height} - {header-margin}
  height: calc(100% - 50px - 20px - 24px - 20px);
}
