@import "mixins";
@import "props";

// container
:host {
  @include flex();
  margin-top: 20px;
}

app-search {
  // {total-width} - {button-width} - {margin}
  width: calc(100% - 200px - 20px);

  @include screen-under(560px) {
    // {total-width} - {button-width} - {margin}
    width: calc(100% - 140px - 10px);
  }

  @include screen-under(425px) {
    // {total-width} - {button-width} - {margin}
    width: calc(100% - 50px - 10px);
  }
}

// link button
a {
  @include rect(200px, 50px);
  margin-left: 20px;

  @include screen-under(560px) {
    width: 140px;
    margin-left: 10px;
  }

  @include screen-under(425px) {
    @include padding(0 15px);
    width: 50px;
  }

  span {
    @include screen-under(425px) {
      display: none;
    }
  }

  // place icon
  app-icon {
    ::ng-deep {
      path {
        fill: $white;
      }
    }

    @include box(24px);
    margin-left: 3px;

    @include screen-under(425px) {
      margin-left: 0;
    }
  }
}
